header {
<<<<<<< HEAD
    background-color: #FF0000;
    height: 70px;
    width: 100%;
}
=======
  background-color: #FF0000;
  height: 70px;
  width: 100%;
}
>>>>>>> 462a3223e44b9f750fdced6a81e53cf8c89de826
