body {
<<<<<<< HEAD
    margin: ;
    padding: ;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
=======
  margin: 0px;
  padding: 0px;
  font-color: #484848;
  font-size: 14px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
>>>>>>> 462a3223e44b9f750fdced6a81e53cf8c89de826
