footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px #CCCCCC solid;
    position: fixed;
    display: table;
    bottom: 0;
}

P {
  color: black;
  padding: 5px;
  text-align: center;
}  

